<!--가로스크롤 어시스턴트목록-->

{% for sec in assistant_sections %}
  <p class="assistant-container-title">{{ sec.label }}</p>
  <div class="assistant-container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for assistant in sec.assistants %}
          <div class="swiper-slide assistant-item">
            <a href="{% url 'chatbot-preview' assistant.id %}" class="chatbot-link">
              <img src="{% if assistant.photo %}{{ assistant.photo.url }}{% else %}{{ MEDIA_URL }}assistant_photos/default.png{% endif %}" alt="{{ assistant.name }}">
              <p class="assistant-title">{{ assistant.name }}</p>
              <p class="assistant-address">
                {% for tag in assistant.tags.all|dictsort:"priority" %}
                  #{{ tag.name }}
                {% endfor %}
              </p>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
{% endfor %}

