<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanummyeongjo.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'css/setting/base_setting.css' %}">
</head>
<body>
<div class="page-container">
    {% include "includes/header.html" %}


</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>