/* main.css */
body {
  font-family: 'Nanum Myeongjo', Serif;
  background-color: #f2efe4;
  margin: 0;
}

.page-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.menu-bar button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-bar #menuButton img {
  width: 70px;
  height: 70px;
  display: block;
}
*/

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.search-container {
  position: relative;
  width: 100%;
}

.search-bar input {
  width: 100%;
  padding: 18px 50px 18px 15px;
  border-radius: 15px;
  border: 1px solid #f1f1f1;
  outline: none;
  font-size: 14px;
  background-color: #ffffff;
  box-sizing: border-box;
}

#searchButton {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#searchButton img {
  width: 20px;
  height: 20px;
}

.category-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px 0;
  margin: 0;
}

.category-list li a {
    text-decoration: none;
    color: #BBBBBB;
}

.category-list li a.category-select {
    font-weight: bold;
    color: #000000; /* 진하게 보이게 텍스트 색상도 변경 */
}


.assistant-container-title {
  padding: 25px 0 10px 0;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.assistant-container {
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.swiper-container {
  overflow: hidden;
  width: 100%;
}

.swiper-slide {
  flex: 0 0 51.9%;
  box-sizing: border-box;
  padding-right: 4%;
}

.swiper-slide a {
  display: flex;
  flex-direction: column;
}

.swiper-slide img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.chatbot-link {
  text-decoration: none;
  color: inherit;
}

.assistant-title {
  font-weight: bold;
  margin: 15px 3%;
  color: black;
}

.assistant-address {
  margin: -2% 3% 0;
  font-size: 12px;
  color: #757575;
}

.swiper-scrollbar {
  display: none;
}
