<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>라운지</title>
    
  {% load static %}
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanummyeongjo.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{% static 'css/assistant/main.css' %}">
</head>

<body>
<div class="page-container">
  <!-- 헤더 -->
  <header class="menu-bar">
    <button id="menuButton">
      <a href="{% url 'lounge-select' %}">
        <img src="{% static 'image/assistant/lounge.png' %}" alt="Menu">
      </a>
    </button>
  </header>

  <!-- 검색창 -->
  <div class="search-bar">
    <div class="search-container">
      <form method="GET" action="{% url 'search-results' %}">
        <input type="text" placeholder="대화하고 싶은 서비스를 검색해보세요" name="query" id="searchInput">
        <button id="searchButton" type="submit">
          <img src="{% static 'image/assistant/search.svg' %}" alt="Search">
        </button>
      </form>
    </div>
  </div>


  <!-- 어시스턴트 슬라이드 -->
  {% for description, assistants in assistants_by_description.items %}
    <p class="assistant-container-title">{{ description }}</p>
    <div class="assistant-container">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for assistant in assistants %}
            <div class="swiper-slide assistant-item">
              <a href="/lounge_chatbot/{{ assistant.id }}/" onclick="setArrayIndex(2)" class="chatbot-link">
                <img src="{% if assistant.photo %}{{ assistant.photo.url }}{% else %}{{ MEDIA_URL }}assistnat_photos/default.png{% endif %}" alt="{{ assistant.name }}">
                <p class="assistant-title">{{ assistant.name }}</p>
                <p class="assistant-address">
                  {% for tag in assistant.tags.all|dictsort:"priority" %}
                    #{{ tag.name }}
                  {% endfor %}
                </p>
              </a>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  {% endfor %}
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  document.querySelectorAll('.swiper-container').forEach(container => {
    new Swiper(container, {
      loop: false,
      slidesPerView: 1.9,
      spaceBetween: 2,
      scrollbar: {
        el: container.querySelector('.swiper-scrollbar'),
        draggable: true,
      },
    });
  });

  function setArrayIndex(index) {
    sessionStorage.setItem('arrayIndex', index);
  }
</script>
</body>
</html>